body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-layout {
  width: 100%;
  border-collapse: collapse;
}

.table-layout th, .table-layout td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-layout th {
  background-color: #f2f2f2;
}

.table-layout tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-layout tr:hover {
  background-color: #eaeaea;
}

.table-layout td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Or any other max-width that fits your design */
}
